.nav-item {
    text-decoration: none;
    transition: 0.3s;
    padding: 20px;
    font-weight: bold;
    font-size: 16pt;
}

.nav-item .nav-link:hover {
    background-color: #0096ff;
    color: white;
}

.ada_name {
    font-weight: bold;
    font-size: 20pt;
}

a.see_more {
    float: right;
}
